[Desktop Entry]
Name=PearPC
Type=Application
Comment=PowerPC emulator
Comment[pl]=Emulator PowerPC
Exec=ppc
#Icon=pearpc
Terminal=true
Categories=Utility;Emulator;
# vi: encoding=utf-8
